<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
  <!-- Stat Card 1 - Fournisseurs -->
    <a routerLink="/fournisseurs" class="bg-white rounded-xl shadow-lg p-6 border-l-4 border-blue-500 hover:shadow-xl transition-shadow cursor-pointer">
      <div class="flex items-center justify-between">
        <div>
          <p class="text-gray-500 text-sm font-medium">{{title}}</p>
          <p class="text-2xl font-bold text-gray-800 mt-1">{{ totalElements }}</p>
        </div>
        <div class="w-12 h-12 bg-blue-100 rounded-lg flex items-center justify-center">
          <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
          </svg>
        </div>
      </div>
    </a>

<!--    <div class="bg-gray-100 rounded-xl shadow-lg p-6 border-l-4 border-gray-400 opacity-50 cursor-not-allowed">-->
<!--      <div class="flex items-center justify-between">-->
<!--        <div>-->
<!--          <p class="text-gray-400 text-sm font-medium">Fournisseurs</p>-->
<!--          <p class="text-2xl font-bold text-gray-400 mt-1">&#45;&#45;</p>-->
<!--        </div>-->
<!--        <div class="w-12 h-12 bg-gray-200 rounded-lg flex items-center justify-center">-->
<!--          <svg class="w-6 h-6 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>-->
<!--          </svg>-->
<!--        </div>-->
<!--      </div>-->
<!--      <p class="text-xs text-gray-400 mt-2">Accès non autorisé</p>-->
<!--    </div>-->
  </div>
